@import
"../../styles/_variables",
"../../styles/_mixins";

.dashboard-container{
  background: transparent !important;

  @media only screen and (min-width: 1920px){
    .el-col-xl-5 {
      width: 20%;
    }
  }
  .card-item {
    min-height: 192px;
    margin-bottom: 24px;
    .item-title {
      color: #010101;
      font-size: 20px;

      i{
        color: #999;
      }
    }
    .item-date {
      color: #999;
      font-size: 14px;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
    }
    .item-value {
      color: #000000;
      font-size: 36px;
      margin-top: 16px;
      span {
        font-size: 24px;
        padding-left: 12px;
      }
    }

    .data-state {
      color: #000000;
      font-size: 14px;
      margin-top: 16px;

      span {
        @include text-ellipsis;
        i {
          margin-left: 4px;
        }

        &.state-up > i {
          color: #a94442
        }
        &.state-down > i {
          color: #42b983
        }
      }
    }
    .data-state > span {
      width: 47%;
      display: inline-block;
    }

    &.center{
      @include flex;
      @include a-center;
      .el-card__body{
        width: 100%;
      }
    }
  }

  .chart-title{
    color: #333;
    font-size: 20px;
    div{
      font-weight: bolder;
    }
    .date{
      font-size: 14px;
    }
  }
  #chart-trends{
    height: 260px;
  }
}
