.DS_Store
node_modules
/dist

# local langs
/src/__common/plugins/i18n/zh.js
/src/__common/plugins/i18n/en.js

# local env files
/.env
/.env.*
/.env.local
/.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
