.pic-upload-container {
  display: inline-block;

  &>div {
    vertical-align: top;
    min-height: 104px;
    margin-right: 10px;
    display: inline-block;
  }

  .el-upload {
    width: 100px;
    height: 100px;
    line-height: 100px;
    box-sizing: content-box;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    .upload-icon {
      font-size: 28px;
      color: #8c939d;
      text-align: center;
    }


    &:hover {
      color: #409EFF;
      border-color: #409EFF;

      .hover-div {
        display: block;
      }
    }
  }

  .el-upload__tip {
    text-align: center;
    margin-top: -20px;
  }

}