@import
"_variables",
"_mixins";

#app>.el-container {
  height: 100%;

  .el-header{
    @include flex;
    @include a-center;
    background-color: rgb($red,$green,$blue);
  }

  .el-main{
    @include scrollbar;
    max-width: 100%;
  }
}
