html,body,
div,section,table,form,ul,ol,li,
p,h1,h2,h3,h4,h5,h6,
thead,tbody,tr,th,td,
input,button,
img,span,a,label,
legend,fieldset{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-weight: normal;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
ol, ul, li {
  list-style: none
}
a,
a:link,
a:visited,
a:hover,
a:active,
input{
  outline: 0;
  text-decoration: none;
}
input,
td * {
  user-select: text;
  -webkit-appearance: none;

  &:read-only{
    ime-mode: disabled;
  }
}
textarea{
  resize: none;
}
html,body,#app {
  width: 100%;
  height: 100%;

  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:focus,
:active{
  outline: 0;
}
