@import
"_variables",
"_mixins";

$--color-primary: $activeColor;                     // 改变主题色变量
$--font-path: '~element-ui/lib/theme-chalk/fonts';  // 改变 icon 字体路径变量，必需

@import "~element-ui/packages/theme-chalk/src/index";

.el-table--scrollable-x .el-table__body-wrapper {
  @include scrollbar(10);
}
.el-table__empty-block{
  line-height: 60px;
}
.el-pagination {
  margin-top: 24px;
  text-align: right;
}

.el-dialog {
  width: 94%;
  max-width: 660px;

  .el-input{
    width: 88%;
  }
}
