@import
"../../styles/_variables",
"../../styles/_mixins";

.dashboard-container{
  background: transparent !important;

  @media only screen and (min-width: 1920px){
    .el-col-xl-5 {
      width: 20%;
    }
  }
  .card-item{
    margin-bottom: 24px;
  }

  .chart-title{
    color: #333;
    font-size: 20px;
    div{
      font-weight: bolder;
    }
    .date{
      font-size: 14px;
    }
  }
  #chart-trends{
    height: 260px;
  }
}
