@import
"../../../styles/_variables",
"../../../styles/_mixins";
.el-menu {
  width: 100% !important;
  border-right: 0 !important;
  background: transparent;
  .el-menu-item,
  .el-submenu__title {
    height: 52px;
    line-height: 52px;
    i{
      color: #787878;
    }

    &:hover,
    &:focus,
    &.is-active {
      color: $color-active !important;
      i{
        color: $color-active !important;
      }
    }
    &:hover{
      background: rgba(165, 165, 165, 0.2) !important;
    }
  }
  .el-submenu .el-menu-item{
    padding-left: 49px !important;
    min-width: $width-sidebar-max;
  }


  &.el-menu--collapse{
    .el-menu-item,
    .el-submenu__title {
      text-align: center;
      padding: 0 !important;
      &>div{
        text-align: center;
        padding: 0 !important;

        i{
          color: #cacaca;
          margin: 0;
        }
      }
    }

    .el-submenu.is-active i{
      color: $color-active !important;
    }

    &>div>.el-submenu >.el-submenu__title span,
    &>div>.el-submenu >.el-submenu__title .el-submenu__icon-arrow{
      display: none;
    }
  }

  &.el-menu--inline .el-menu-item{
    background: #fefefe !important;
  }
}

.el-menu--popup {
  padding: 0 !important;
}
.el-aside-dark {
  .el-menu {
    .el-menu-item,
    .el-submenu__title {
      i {
        color: #cacaca;
      }
    }

    &.el-menu--inline .el-menu-item{
      background: #373737 !important;
    }
  }
}
